## Imports

In [50]:
import pandas as pd

## Reading CSV File

In [51]:
dfirs = pd.read_csv("insurance.csv")
pd.options.display.max_rows=None

In [52]:
dfirs.head(10)

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,19,female,27.9,107,No,0,Yes,southwest,16884.92
1,18,male,33.8,133,No,1,No,southeast,1725.55
2,28,male,33.0,88,Yes,3,No,southeast,4449.46
3,33,male,22.7,119,Yes,0,No,northwest,21984.47
4,32,male,28.9,91,No,0,No,northwest,3866.86
5,31,female,25.7,138,No,0,No,southeast,3756.62
6,46,female,33.4,98,No,1,No,southeast,8240.59
7,37,female,27.7,86,No,3,No,northwest,7281.51
8,37,male,29.8,105,No,2,No,northeast,6406.41
9,60,female,25.8,98,Yes,0,No,northwest,28923.14

## Questions
Q. What is the avg claim for the male and females ?

In [53]:
male = dfirs[(dfirs['gender']=="male")]['claim'].mean()
female = dfirs[(dfirs['gender']=="female")]['claim'].mean()
print(f'Male(Avg claim) : {male}\nFemale(Avg claim) : {female}"')

Male(Avg claim) : 13956.751420118353
Female(Avg claim) : 12569.578897280966"

Q. Do you think the claim is more for older people and quite less for the younger ones ?

In [101]:
dfirs.describe()

               age          bmi  bloodpressure     children         claim
count  1338.000000  1338.000000    1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     109.397608     1.094918  13270.422414
std      14.049960     6.098382      17.519398     1.205493  12110.011240
min      18.000000    16.000000      80.000000     0.000000   1121.870000
25%      27.000000    26.300000      94.000000     0.000000   4740.287500
50%      39.000000    30.400000     109.000000     1.000000   9382.030000
75%      51.000000    34.700000     124.000000     2.000000  16639.915000
max      64.000000    53.100000     140.000000     5.000000  63770.430000

In [54]:
dfirs['claim'].describe()

count     1338.000000
mean     13270.422414
std      12110.011240
min       1121.870000
25%       4740.287500
50%       9382.030000
75%      16639.915000
max      63770.430000
Name: claim, dtype: float64

Q. Do you think there is core relation between BMI and claim ?

In [55]:
dfirs['bmi'].corr(dfirs['claim'])

0.19857625501893203

Q. Do you think there is core relation between Bloodpressure and claim ?

In [56]:
dfirs['bloodpressure'].corr(dfirs['claim'])

-0.028208011288487163

Q. What is the distribution of the claim variable for females who are aged between 34 and 48 ?

In [82]:
dfirs[(dfirs['gender']=='female') & (dfirs['age']>=34) & (dfirs['age']<=48)]['claim'].describe()

count      200.000000
mean     12858.005750
std      10995.190835
min       4415.160000
25%       6657.707500
50%       8024.905000
75%      13029.275000
max      48885.140000
Name: claim, dtype: float64

Q. What is the maximum claim for diabetic smoker patients ?

In [57]:
dfirs[(dfirs['diabetic']=='Yes') & (dfirs['smoker']=='Yes')]['claim'].max()

60021.4

Q. How many males are smoker and non-diabetic ?

In [86]:
(dfirs[(dfirs['gender']=='male') & (dfirs['smoker']=='Yes') & (dfirs['diabetic']=='No')]).count()

age              83
gender           83
bmi              83
bloodpressure    83
diabetic         83
children         83
smoker           83
region           83
claim            83
dtype: int64