# Imports

In [13]:
#importing Pandas as pd 
import pandas as pd
#importing numpy as np
import numpy as np
#importing scipy.stats as stats
import scipy.stats as stats

In [4]:
dfirs = pd.read_csv("Data_Anomalies.csv")

In [32]:
dfirs.describe()

,cif,sum_amount_bank,transaction_count_bank,risk_profile,sum_amount_others,transaction_count_others
count,3528.000000,3528.000000,3528.000000,3528.000000,3528.000000,3528.000000
mean,1764.500000,40535.219955,2979.953515,3.522959,3519.088435,4489.952664
std,1018.590202,23081.212035,1725.544591,1.690057,1985.025317,2601.272242
min,1.000000,70.000000,1.000000,1.000000,100.000000,15.000000
25%,882.750000,20705.250000,1503.250000,2.000000,1805.750000,2216.500000
50%,1764.500000,40434.500000,2962.000000,4.000000,3502.500000,4517.000000
75%,2646.250000,60861.750000,4498.500000,5.000000,5226.250000,6736.250000
max,3528.000000,79996.000000,5998.000000,6.000000,6999.000000,8996.000000

In [33]:
dfirs['total_sum_amount'] = dfirs['sum_amount_bank']+dfirs['sum_amount_others']
dfirs['total_sum_amount'] = dfirs['sum_amount_bank']+dfirs['sum_amount_others']

In [35]:
dfirs.describe()

,cif,sum_amount_bank,transaction_count_bank,risk_profile,sum_amount_others,transaction_count_others,total_sum_amount
count,3528.000000,3528.000000,3528.000000,3528.000000,3528.000000,3528.000000,3528.000000
mean,1764.500000,40535.219955,2979.953515,3.522959,3519.088435,4489.952664,44054.308390
std,1018.590202,23081.212035,1725.544591,1.690057,1985.025317,2601.272242,23188.327157
min,1.000000,70.000000,1.000000,1.000000,100.000000,15.000000,235.000000
25%,882.750000,20705.250000,1503.250000,2.000000,1805.750000,2216.500000,24164.750000
50%,1764.500000,40434.500000,2962.000000,4.000000,3502.500000,4517.000000,44229.000000
75%,2646.250000,60861.750000,4498.500000,5.000000,5226.250000,6736.250000,64140.500000
max,3528.000000,79996.000000,5998.000000,6.000000,6999.000000,8996.000000,86830.000000

In [ ]:
sum(dfirs['sum_amount_bank'])

In [20]:
dfirs['risk_profile'].value_counts()

4    618
5    599
3    587
2    587
6    578
1    559
Name: risk_profile, dtype: int64

In [21]:
dfirs['sum_amount_bank'].value_counts()

15887    2
55157    2
47268    2
19810    2
65996    2
        ..
62820    1
34146    1
34142    1
46428    1
16388    1
Name: sum_amount_bank, Length: 3444, dtype: int64

In [9]:
dfirs['risk_profile'].unique()

array([3, 1, 6, 4, 2, 5], dtype=int64)

In [26]:
test,pval = stats.f_oneway(dfirs[dfirs['risk_profile']==1]['sum_amount_bank'],
                           dfirs[dfirs['risk_profile']==2]['sum_amount_bank'],
                           dfirs[dfirs['risk_profile']==3]['sum_amount_bank'],
                           dfirs[dfirs['risk_profile']==4]['sum_amount_bank'],
                           dfirs[dfirs['risk_profile']==5]['sum_amount_bank'],
                           dfirs[dfirs['risk_profile']==6]['sum_amount_bank'])

In [27]:
pval

0.2690393821478612

In [28]:
test,pval = stats.f_oneway(dfirs[dfirs['risk_profile']==1]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==2]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==3]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==4]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==5]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==6]['transaction_count_bank'])

In [29]:
pval

0.524324216034779

In [28]:
test,pval = stats.f_oneway(dfirs[dfirs['risk_profile']==1]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==2]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==3]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==4]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==5]['transaction_count_bank'],
                           dfirs[dfirs['risk_profile']==6]['transaction_count_bank'])

In [29]:
pval

0.524324216034779